**/.DS_Store
composer.phar
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
recipients.json
app/Http/Controllers/cache
reports/

public/js/app.js.LICENSE.txt
.php_cs.cache
/test-results/
/playwright-report/
/playwright/.cache/
.pint.cache

